{{! Renders the logged in user's dashboard where they can create a new blog post, view their posts, and edit or delete them }}
<div class='container d-flex flex-column mb-3 justify-content-center'>
  <div class='col-8 align-self-center'>
    <br />
    <h2>What's on Your Mind?</h2>

    <form class='form new-post-form'>
      <div class='mb-3'>
        <label for='post-title' class='form-label'>What's the title of your new
          post?</label>
        <input class='form-control' id='post-title' />
      </div>
      <div class='mb-3'>
        <label for='post-desc' class='form-label'>Describe your post.</label>
        <input class='form-control' id='post-desc' />
      </div>
      <div class='mb-3'>
        <label for='post-content' class='form-label'>Write your content here.</label>
        <textarea class='form-control' id='post-content' rows='3'></textarea>
      </div>
      <button type='submit' class='btn btn-dark'>Add New Post</button>
    </form>
  </div>

  {{#if posts.length}}
    <div class='border-top border-dark col post-list'>
      <br />
      <h2 class='text-center'>{{name}}'s Posts</h2>
      <br />

      {{#each posts as |post|}}
        <div class='row mb-3'>
          <div class='col-6 text-center'>
            <h4>
              <a
                class='nav-link text-secondary'
                href='/posts/{{post.id}}'
              >{{post.title}}</a>
            </h4>
          </div>
          <div class='col-2 edit-button text-center'>
            <a href='/edit/{{post.id}}'>
              <button class='btn' data-id='{{post.id}}'><i
                  class='fa-solid fa-pencil'
                ></i></button>
            </a>
          </div>
          <div class='col-2 text-center'>
            <button class='btn delete-button' data-id='{{post.id}}'><i
                class='fa-solid fa-trash-can'
              ></i></button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src='/js/dashboard.js'></script>